* {
    margin:0;
    padding: 0;
}

header{
    height: 70px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

main {
    display: grid;
}

footer {
    height: 70px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    
}